/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    background-size: cover;
    background-position: center;
  }
.imagen{

  background-image: url("imagenes/fondos-para-páginas-web-6.jpg");
  width: 500 px;
  width: 400 px;
}



  /* Estilos del encabezado */
  header {
    background-color: #b2bbb4;
    color: #fff;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
  h2 {
   color: darkgreen;
  }

  h3 {
    color: darkgreen;
  }

  p{
    color: darkgreen;
  }

  li {
    color: darkgreen;
  }
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #f5f0f1;
    text-decoration: none;
  }
  
  /* Estilos de las secciones */
  section {
    padding: 50px;
  }
  
  section h2 {
    margin-top: 0;
  }
  
  /* Estilos de los proyectos */
  .proyecto {
    margin-bottom: 20px;
  }
  
  /* Estilos del pie de página */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .btn-descargar {
    background-color: #f44336;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    }
    
  

